/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  margin: 0 auto;
  align-items: center;
  width: 86%;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
  background: linear-gradient(0deg, rgba(12, 117, 136, 1) 46%, rgba(0, 153, 187, 1) 70%);
  text-align: center;
  margin-bottom: 20px;
  color: white;
  padding: 40px 10px 40px 10px;
  margin-top: 30px;
}

header a {
  color: white;
  text-decoration: none;
}
header h1 {
  font-size: larger;
}

header ul {
  list-style: none;
  padding-bottom: 10px;
}
header img {
  margin-bottom: 10px;
}
header h1 {
  margin-bottom: 5px;
}
header img {
  width: 230px;
  height: 90px;
  margin-bottom: 20px;
}

/* MAIN */

main {
  background-color: white;
  align-items: center;
  font-size: 18px;
  padding: 14px;
  line-height: 1.6;
  box-shadow: 2px 5px 16px 0px #0b325e, 0px 0px 22px;
}
main h2 {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

main p:first-of-type {
  color: gray;
  font-size: 23px;
  margin-bottom: 20px;
}

main ul,
ol li {
  margin-left: 40px;
}
main span {
  color: rgba(170, 32, 114, 255);
}
.table {
  display: flex;
  justify-content: center;
}

/* ELEMENTI NEL MAIN - ARTICLE */
video {
  border-radius: 19% 15% 13% / 16% 18% 16% 17%;
  margin: 0 auto;
}

/* TABELLE */
table {
  border-spacing: 20px;
  text-align: center;
  padding: 30px;
  vertical-align: middle;
  border-bottom: 2px solid rgba(55, 105, 204, 255);
  height: 450px;
  table-layout: fixed;
}
thead {
  background-color: rgba(55, 105, 204, 255);
  color: white;
}

th,
td {
  padding: 20px;
}

th:first-of-type {
  vertical-align: bottom;
}

/* FORM */

.form {
  width: 380px;
  margin: 0 auto;
  background-color: rgba(224, 226, 227, 255);
  padding: 20px;
  align-items: center;
}

.form h2 {
  font-size: 30px;
  text-align: center;
}

/* ELEMENTI NELL' ASIDE */
aside h2:last-of-type {
  text-align: center;
  font-size: 30px;
}
aside {
  margin: 0 auto 0 auto;
  background-color: white;
  align-items: center;
  box-shadow: 2px 5px 16px 0px #0b325e, 0px 0px 22px;
}
aside div .article {
  padding: 20px;
  background-color: rgba(223, 229, 230, 255);
  height: 40px;
  margin: 10px auto;
  width: 380px;
  height: 150px;
  font-size: 25px;
  line-height: 1.4;
}
aside div h3 {
  text-align: right;
  vertical-align: bottom;
  padding-top: 21%;
  font-size: 16px;
}

.article a:active {
  color: rgba(22, 172, 208, 255);
}
.article a:visited {
  color: rgba(22, 172, 208, 255);
}
/* FOOTER */
footer {
  background: linear-gradient(0deg, rgba(14, 92, 106, 1) 39%, rgba(20, 127, 150, 1) 65%);
  text-align: center;
  height: fit-content;
  padding: 10px 20px 30px 20px;
  margin: 40px auto 40px auto;
  color: white;
  font-size: 20px;
}
footer a {
  color: rgba(255, 0, 254, 255);
}
